<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Mex">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="AudioCatcherLibrary.Catch">
                <clear />
                <endpoint address="http://localhost:3010" binding="basicHttpBinding"
                    name="Http Catcher" contract="AudioCatcherLibrary.ICatch"
                    listenUriMode="Explicit">
                    <identity>
                        <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectDistinguishedName" />
                    </identity>
                </endpoint>
                <endpoint address="net.tcp://localhost:3300" binding="netTcpBinding"
                    bindingConfiguration="" name="CatcherTcp" contract="AudioCatcherLibrary.ICatch" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:3360" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>